<footer class="col-xs-12">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/pages/about" class="site_footer__links__link">About</a></li>
      <li><a href="/pages/frequently-asked-questions" class="site_footer__links__link">FAQs</a></li>
      <li><a href="/pages/delivery" class="site_footer__links__link">Delivery</a></li>
      <li><a href="/pages/returns" class="site_footer__links__link">Returns</a></li>
      <li><a href="/pages/terms-and-conditions" class="site_footer__links__link">Terms</a></li>
      <li><a href="/pages/website-acceptable-use-policy" class="site_footer__links__link">Acceptable Use Policy</a></li>
      <li><a href="/pages/cookie-policy" class="site_footer__links__link">Cookie Policy</a></li>
      <li><a href="/blogs/inspired-living" class="site_footer__links__link">Our Blog</a></li>
      <li><a href="/pages/contact-us" class="site_footer__links__link">Contact Us</a></li>
    </ul>
  </nav>
</footer>
