<form class="navbar-form navbar-left" action="/products/search" method="get" role="search" data-behavior="mini_search">
  <div class="form-group">
    <input type="text"  class="typeahead" placeholder="Search" autocomplete="off" name="q" data-attribute="query"  id="search_input">
    <button type="submit" class="btn btn-default has-spinner" data-action="submit_search"><%= t(".submit_button") %></button>
    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
  </div>
</form>