<div class="container-fluid" data-behavior="account_reset_password_requested_view">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h1><%= t(".page_title") %></h1>
      <div>
        <p>
          <%= I18n.t("accounts.reset_password_requested") %>
        </p>
      </div>
    </div>
  </div>
</div>
