// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.facets {
  margin-top: 2em;
  margin-bottom: 3em;
  border-right: 1px dotted #EEE;
}

div.facets ul {
  list-style: square;
  padding: 0;
  margin: 0;
}

div.facets ul li {
  padding-bottom: 1em;
  padding-top: 1em;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #EEE;
}

div.facets ul li span.variant-key {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.facets input[type=submit] {
  margin-top: 1em;
}