<html>
<body>
<script type='text/javascript' charset='utf-8'>window.parent.document.location.pathname = '<%= url_for action: :new, only_path: true %>'; window.parent.location.reload(true); </script>
</body>
</html>