<html>
<body>
<script type='text/javascript' charset='utf-8'>window.parent.document.location.pathname = '<%= url_for action: :confirmation, id: order.id, controller: "orders", only_path: true %>';</script>
</body>
</html>