<div class="container-fluid" data-behavior="account_login_view">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
      <div class="rich_content">
        <h1><%= t(".page_title") %></h1>
      </div>
      <p>
        <%= t(".logged_out_text") %>
      </p>
      <p>
        @TODO This page is not yet complete
      </p>
    </div>
  </div>
</div>